html{
    height:100%;
}

* {
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 16px;
    height:100%;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    margin:0;
    
}

.inside-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    
}

.registration-section {
    background-color: white;
    width: 90%;
    max-width: 32rem;
    padding: 2.5rem;
    border-radius: 7px;
    margin: 15px;

}

.registration-text {
    color: #848692;
    font-size:1.2rem;
}

.logo-section {
    font-size: 2rem;
}

input{
    border: none;
    border-bottom: 2px solid lavender;
    width: 100%;
    padding:1rem;
    padding-left: 0;
}

input:focus {
    outline: none;
    border-bottom-color: blue;
}

.form {
    margin-top: 2.5rem;
}
.input-boxes{
    margin-bottom:2rem;
}

button{
    max-width: 10rem;
    width:10rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-color:rgb(84,189,214);
    color: white;
    border-style: none;
    margin-bottom: 1rem;
}

a{
    color:blue;
    text-decoration: none;
}
.right-section{
    display:flex;
    justify-content: flex-end;
  
    margin-top:4rem;
    
}

.bottom-contents{
    display:flex;
    flex-direction:column;
    align-items: center;
}

